

body {
    background-color: #fff;
    color: #444;
    text-align: left;
    text-shadow: none;
}

section {
    min-height: 300px;
    display: flex;
    align-items: center;
}

section.home-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}


.home-section {
    background:  linear-gradient(to right, rgba(80, 80, 80, 0.38), rgba(80, 80, 80, 0.38)), url('./img/background-astana.jpg');
    background-repeat: initial, no-repeat, ;
    background-size: initial, 100%;
    background-position: center;
    background-attachment: fixed;
}

.media-section  {
    background-color: #eee;
}

.geroi-section {
    background-color: #5febfc
}

.masthead {
    background-color: #555;
    z-index: 5;
} 

.contacts-section, .history-section {
    background-color: #fff;
}

.contacts-section {
    padding-bottom: 50px;
}

@media (min-width: 992px) {
    .masthead, .mastfoot, .cover-container {
        width: 100%;
    }
}